<div class="gridster-container-wrap">
    <gridster #gridsterContainer
              [selection]="selection"
              appZoomElement
              (contextmenu)="cancelSelection($event)"
              (currentZoom)="zoom = $event"
              [options]="options">

        <gridster-item  [attr.data-index]="i" [item]="item" *ngFor="let item of dashboard; let i = index"
        >

            <div *ngIf="item.component === 'UnityViewComponent'">
                <!--<app-unity-view></app-unity-view>-->
            </div>

            <img *ngIf="item.type === 'component' && item.name !== 'map' && item.name !== '3d' && item.name !== 'unity'" width="100%" [src]="'../../../assets/IMAGES/IMAGERY_' + ( i % 6 + 1 ) + '.png'" alt="">
            <img *ngIf="item.type === 'component' && item.name === 'map'" width="100%" [src]="'../../../assets/Components/2D%20Map.svg'" alt="">
            <img *ngIf="item.type === 'component' && item.name === '3d'" width="100%" [src]="'../../../assets/Components/3D.svg'" alt="">
            <div *ngIf="item.type === 'component' && item.name === 'unity'" width="100%" alt="">
                <app-unity-view></app-unity-view>
            </div>
            <img *ngIf="item.type === 'layer'" width="100%" [src]="
                ( i % 2 )
                ? '../../../assets/Components/Layout.svg'
                : '../../../assets/Components/Layout-filtered.svg'
            " alt="">

        </gridster-item>

    </gridster>
</div>

<div #tools class="tools"
     (contextmenu)="toolbar($event)"
     [hidden]="!toolbarStatus"
     [ngStyle]="{'left': toolbarPosition.x + 'px', 'top': toolbarPosition.y + 'px'}">
    <img height="20" width="20" src="../../../assets/SVG/4_Share.svg" alt="">
    <img height="20" width="20" src="../../../assets/SVG/toolbar/scissors.svg" alt="">
    <img height="20" width="20" src="../../../assets/SVG/toolbar/duplicate.svg" alt="">
    <img height="20" width="20" (click)="deleteActive()" src="../../../assets/SVG/toolbar/rubbish-bin.svg" alt="">
    <img height="20" width="20" src="../../../assets/SVG/toolbar/Shape%202.svg" alt="">
    <img height="20" width="20" src="../../../assets/SVG/toolbar/view%202.svg" alt="">

    <div class="oval oval-1"></div>
    <div class="oval oval-2"></div>
    <div class="oval oval-3"></div>
</div>

<div class="mobile-save">
    <img src="../../../assets/imgpsh_mobile_save.jpg" alt="">
</div>

<div class="ribbon-toggle-size" (click)="toggleZoom()">

</div>

<router-outlet></router-outlet>
